.movie-details {
    padding: 20px;
    max-width: 900px;
    text-align: justify;
}
h2 {
    margin-bottom: 20px;
}
img {
    float: left;
    margin-right: 20px;
}
.rating {
    font-size: 2em;
    text-align: right;
}
.overview {
    font-size: 1.3em;
}